<h1>Hello {{username}}</h1>

<strong>Looks like you have a new Task to do!</strong>

<p>The task has a name, and its: <strong>{{title}}</strong></p>

@if(hasAttachment)
  <strong>We have an image to describe better wich task it is! <br> Look down here.</strong>
@endif
